page-home {
    #total_cash, #needed_cash{
        border: 2px solid;
    }
    .button {
    float: right;    
    }
    .title{
        display:inline;
        
    }
    #id{
        border-bottom: 3px solid grey;
        margin-bottom: 20px;
    }
}
